body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-image: url('images/street.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    border: 2px solid black;
    /*
    width: 50%;
    height: 50%; */
    width: 60%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 4rem;
    font-weight: bolder;
}

h2 {
    font-size: 4.5rem;
    font-weight: 900;

}

p {
    font-size: 2.6rem;
    font-weight: 700;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
}

#btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

#clr {
    margin-top: 15px;
    background-color: black;
}

button:hover{
    color:rgba(255, 255, 255, 0.562);
}